.dashboard {
  display: grid;
  place-content: center;
  position: relative;
  flex: 1;
  height: 100vh;
  width: 100vw;
  color: white;
  text-align: center;
}

h1 {
  margin: 15px auto;
  text-shadow: 10px 10px 10px black;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
